:root {
  --background-color: #333333;
  --text-color: #F5F5F5;
  --primary-color: #F5F5F5;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* Right-align */
  padding: 0.5rem 1rem; /* Tighter padding */
  background-color: var(--background-color);
  z-index: 10;
}

.top-nav a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 0.5rem; /* Tighter margin */
  font-size: 1rem; /* Slightly smaller font for tightness */
}

.top-nav a:hover {
  color: var(--primary-color);
}

.side-nav {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
}

.side-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 1rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}




.side-nav a:hover {
  color: var(--primary-color);
}

main {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.main-content {
  display: flex;
}

section {
  padding: 1.5rem;
  border-bottom: 1px solid var(--primary-color);
}

h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

.experience-item {
  display: flex;
  margin-bottom: 2rem;
}

.experience-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.experience-details p {
  margin: 0;
}
